.container
{
    display: flex;
}
.container .img
{
    width: 200px;
    height: 200px;
    margin: 10px;
    padding: 10px;
    user-select: none;
}
.container .img:hover
{
    box-shadow: 0 0 10px #0082e6;
    cursor: pointer;
}
.container .img img
{
    width: 180px;
    height: 180px;
}
.message
{
    display: flex;
    justify-content: center;
    align-items: center;
}