body
{
    background: black;
}
.whiteBox
{
    background: white;
    height: 200px;
    width: 200px;
    margin: 10px;
    display: inline-block;
}
.imgBox
{
    height: 190px;
    width: 190px;
    margin: 5px;
    background-image: url('Git.jpg');
    background-size: cover;
}
.imgBox:hover
{
    cursor: grab;
}
.hold
{
    border: 3px dashed black;
}
.hide
{
    display: none;
}